****Домашнее задание по теме «Python для анализа данных: pandas»****

**Задание 1**

*Используем файл keywords.csv.*

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [48]:
import pandas as pd

def check_region(keyword):
    geo_data = { 'Центр': ['москва', 'тула', 'ярославль'],
                 'Северо-Запад': ['петербург', 'псков', 'мурманск'],
                 'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']  }
    for key, values in geo_data.items():
        for value in values:
            if  value in keyword:
                return key
    return 'undefined'


keywords = pd.read_csv('keywords.csv')
keywords['region'] = keywords['keyword'].apply(check_region)
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [49]:
keywords.loc[120:130]

               keyword    shows     region
120          дойки ком  1059292  undefined
121                аск  1045170  undefined
122            мой мир   993332  undefined
123              avito   984448  undefined
124  викинг фильм 2017   984999  undefined
125    школьный портал   982692  undefined
126    вк моя страница   979105  undefined
127       авито москва   979292      Центр
128        спортмастер   968154  undefined
129    новости украины   965720  undefined
130  онлайн переводчик  3882735  undefined

In [50]:
keywords.loc[370:375]

                      keyword   shows        region
370  авито ру санкт петербург  425134  Северо-Запад
371               игры онлайн  588264     undefined
372     авито нижний новгород  421310     undefined
373                      циан  420257     undefined
374                  приват24  420065     undefined
375                     rutor  419496     undefined

In [51]:
keywords.loc[2175:2180]

                                keyword  shows          region
2175                     дром хабаровск  98361  Дальний Восток
2176                     авито волжский  97204       undefined
2177                          анекс тур  96850       undefined
2178  гдз по математике 6 класс мерзляк  98665       undefined
2179                            бетсити  96706       undefined
2180                        читай город  96816       undefined

In [56]:
keywords.sort_values(by='region', ascending=False).head(500)

                                                 keyword   shows        region
6999                                           москва 24   37459         Центр
61986                такси везет москва официальный сайт    6063         Центр
43404                          суперджоб москва вакансии    8208         Центр
73226                             фанатик спартак москва    5353         Центр
68005                                   гостиница москва    5651         Центр
7090                                  гисметео ярославль   37008         Центр
97382                        комсомольская правда москва    3708         Центр
35939            семейный доктор москва официальный сайт    9268         Центр
51916                   сбербанк официальный сайт москва    7225         Центр
27302                 расписание электричек тверь москва   23272         Центр
92506                            эвакуатор москва дешево    4455         Центр
63641                                        циан москва    5600         Центр
66211                                 интелликаст москва    5337         Центр
56895                          авито москва недвижимость   10611         Центр
91668                       мвидео тула официальный сайт    3977         Центр
63722                             пятерочка акции москва    6213         Центр
74222                          совместные покупки москва    4808         Центр
98679                                         геи москва    4205         Центр
88918         мегафон тарифы москва и московская область    5268         Центр
10574                   электронный дневник 76 ярославль   26243         Центр
19832                                    рр hh ru москва   15598         Центр
81003                    москва я терплю тебя фильм 2016    4468         Центр
92578  авито авто с пробегом москва и московская обла...   18149         Центр
45976                               доминос пицца москва    7656         Центр
61796  авто ру москва и московская область авто с про...   12271         Центр
78474                            джоб ру москва вакансии    4563         Центр
73640                              детский мир ярославль    4883         Центр
51907                  газелькин москва официальный сайт    6617         Центр
33886                       динамо москва хоккейный клуб   11123         Центр
92635                      запись к врачу тула доктор 71    3939         Центр
...                                                  ...     ...           ...
73816                                    псковское порно    4895  Северо-Запад
90635                       днс мурманск каталог товаров    4030  Северо-Запад
27994    санкт петербургский государственный университет   11535  Северо-Запад
27548                                 работа в мурманске   11691  Северо-Запад
11080                         петербургская недвижимость   25147  Северо-Запад
77397                     hh ru санкт петербург вакансии    4659  Северо-Запад
96644            каталоги гипермаркетов санкт петербурга    3701  Северо-Запад
27992     спортмастер каталог товаров в санкт петербурге   14700  Северо-Запад
27069  горный университет санкт петербург официальный...   12061  Северо-Запад
16130                          кассир ру санкт петербург   18362  Северо-Запад
86193                   карусель каталог санкт петербург    4404  Северо-Запад
29397         юлмарт санкт петербург каталог товаров спб   11045  Северо-Запад
17360                                     гисметео псков   17500  Северо-Запад
84167                        авито псков работа вакансии    4794  Северо-Запад
54448             юлмарт санкт петербург каталог товаров    6439  Северо-Запад
61653                                    эльдорадо псков    5742  Северо-Запад
15940                               санкт петербург банк  174375  Северо-Запад
18766                  циан недвижимость санкт петербург   16164  Северо-Запад
70227              исаакиевский собор в санкт петербурге    5063  Северо-Запад
45875                         гостиницы санкт петербурга    7456  Северо-Запад
99808                  полармед мурманск запись на прием    3719  Северо-Запад
97413                          kassir ru санкт петербург    3723  Северо-Запад
85594                     запись к врачу онлайн мурманск    4347  Северо-Запад
66025         почтовый индекс по адресу санкт петербурга    5761  Северо-Запад
51611                  холодильник ру в санкт петербурге    6721  Северо-Запад
53412                 кари обувь каталог санкт петербург    6472  Северо-Запад
70167                                     новости пскова    5036  Северо-Запад
84400                                    мурманск погода   17908  Северо-Запад
88619   погода в мурманске на неделю на норвежском сайте    4150  Северо-Запад
81255             суперджоб ру спб вакансии в петербурге    4351  Северо-Запад

[500 rows x 3 columns]


**Задание 2**

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
    - оценка 2 и меньше - низкий рейтинг
    - оценка 4 и меньше - средний рейтинг
    - оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

Так как в задании не учтены оценки (4, 4.5), то были приняты следующие правила:

x ∈ [0, 2] - низкий рейтинг

x ∈ (2, 4] - средний рейтинг

x ∈ (4, 5] - высокий рейтинг

In [139]:
import pandas as pd

def class_movie(x):
    if x > 4:
        return 'высокий рейтинг'
    elif x > 2:
        return 'средний рейтинг'
    else:
        return 'низкий рейтинг'

movies = pd.read_csv('ml-latest-small/movies.csv') 
ratings = pd.read_csv('ml-latest-small/ratings.csv')

ratings = ratings[['movieId', 'rating']].groupby('movieId').mean()
ratings['class'] = ratings['rating'].apply(class_movie)
ratings = ratings.merge(movies, on='movieId', how='left')   
ratings[['movieId', 'title', 'genres', 'rating', 'class']]

,movieId,title,genres,rating,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.872470,средний рейтинг
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.401869,средний рейтинг
2,3,Grumpier Old Men (1995),Comedy|Romance,3.161017,средний рейтинг
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.384615,средний рейтинг
4,5,Father of the Bride Part II (1995),Comedy,3.267857,средний рейтинг
5,6,Heat (1995),Action|Crime|Thriller,3.884615,средний рейтинг
6,7,Sabrina (1995),Comedy|Romance,3.283019,средний рейтинг
7,8,Tom and Huck (1995),Adventure|Children,3.800000,средний рейтинг
8,9,Sudden Death (1995),Action,3.150000,средний рейтинг
9,10,GoldenEye (1995),Action|Adventure|Thriller,3.450820,средний рейтинг
10,11,"American President, The (1995)",Comedy|Drama|Romance,3.689024,средний рейтинг
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror,2.861111,средний рейтинг
12,13,Balto (1995),Adventure|Animation|Children,3.937500,средний рейтинг
13,14,Nixon (1995),Drama,3.451613,средний рейтинг
14,15,Cutthroat Island (1995),Action|Adventure|Romance,2.318182,средний рейтинг
15,16,Casino (1995),Crime|Drama,3.948864,средний рейтинг
16,17,Sense and Sensibility (1995),Drama|Romance,3.924419,средний рейтинг
17,18,Four Rooms (1995),Comedy,3.288462,средний рейтинг
18,19,Ace Ventura: When Nature Calls (1995),Comedy,2.597826,средний рейтинг
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller,2.538462,средний рейтинг
20,21,Get Shorty (1995),Comedy|Crime|Thriller,3.536842,средний рейтинг
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller,3.355263,средний рейтинг
22,23,Assassins (1995),Action|Crime|Thriller,3.090909,средний рейтинг
23,24,Powder (1995),Drama|Sci-Fi,3.044118,средний рейтинг
24,25,Leaving Las Vegas (1995),Drama|Romance,3.742574,средний рейтинг
25,26,Othello (1995),Drama,4.100000,высокий рейтинг
26,27,Now and Then (1995),Children|Drama,3.142857,средний рейтинг
27,28,Persuasion (1995),Drama|Romance,4.083333,высокий рейтинг
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,4.025000,высокий рейтинг
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama,4.050000,высокий рейтинг
...,...,...,...,...,...
9036,158238,The Nice Guys (2016),Crime|Mystery|Thriller,3.750000,средний рейтинг
9037,158314,Daniel Tosh: Completely Serious (2007),Comedy,4.500000,высокий рейтинг
9038,158528,The Shallows (2016),Drama|Thriller,3.500000,средний рейтинг
9039,158956,Kill Command (2016),Action|Horror|Sci-Fi,4.000000,средний рейтинг
9040,159093,Now You See Me 2 (2016),Action|Comedy|Thriller,2.000000,низкий рейтинг
9041,159462,The Video Dead (1987),Horror,3.000000,средний рейтинг
9042,159690,Teenage Mutant Ninja Turtles: Out of the Shado...,Action|Adventure|Comedy,2.000000,низкий рейтинг
9043,159755,Popstar: Never Stop Never Stopping (2016),Comedy,1.000000,низкий рейтинг
9044,159858,The Conjuring 2 (2016),Horror,3.750000,средний рейтинг
9045,159972,Approaching the Unknown (2016),Drama|Sci-Fi|Thriller,0.500000,низкий рейтинг
9046,160080,Ghostbusters (2016),Action|Comedy|Horror|Sci-Fi,1.000000,низкий рейтинг
9047,160271,Central Intelligence (2016),Action|Comedy,2.500000,средний рейтинг
9048,160438,Jason Bourne (2016),Action,4.250000,высокий рейтинг
9049,160440,The Maid's Room (2014),Thriller,1.500000,низкий рейтинг
9050,160563,The Legend of Tarzan (2016),Action|Adventure,2.500000,средний рейтинг
9051,160565,The Purge: Election Year (2016),Action|Horror|Sci-Fi,2.000000,низкий рейтинг
9052,160567,Mike & Dave Need Wedding Dates (2016),Comedy,4.000000,средний рейтинг
9053,160590,Survive and Advance (2013),(no genres listed),5.000000,высокий рейтинг
9054,160656,Tallulah (2016),Drama,3.500000,средний рейтинг
9055,160718,Piper (2016),Animation,4.000000,средний рейтинг
9056,161084,My Friend Rockefeller (2015),Documentary,2.500000,средний рейтинг
9057,161155,Sunspring (2016),Sci-Fi,0.500000,низкий рейтинг
9058,161594,Kingsglaive: Final Fantasy XV (2016),Action|Adventure|Animation|Drama|Fantasy|Sci-Fi,3.000000,средний рейтинг
9059,161830,Body (2015),Drama|Horror|Thriller,1.000000,низкий рейтинг
9060,161918,Sharknado 4: The 4th Awakens (2016),Action|Adventure|Horror|Sci-Fi,1.500000,низкий рейтинг
9061,161944,The Last Brickmaker in America (2001),Drama,5.000000,высокий рейтинг
9062,162376,Stranger Things,Drama,4.500000,высокий рейтинг
9063,162542,Rustom (2016),Romance|Thriller,5.000000,высокий рейтинг
9064,162672,Mohenjo Daro (2016),Adventure|Drama|Romance,3.000000,средний рейтинг
9065,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary,5.000000,высокий рейтинг

**Задание 3**

Посчитайте среднее значение Lifetime киноманов (пользователи, которые поставили 100 и более рейтингов). Под Lifetime понимается разница между максимальным и минимальным значением timestamp для каждого пользователя. Ответ дайте в днях.

In [70]:
# создание датафрейма с данными по всем записям о выставлении пользователями рейтингов
import pandas as pd
from datetime import datetime
ratings = pd.read_csv('ml-latest-small/ratings.csv')

In [71]:
# группировка по пользователю и выявление только тех, число оценок (строк) для которых >= 100 в датафрейм ratings_filtered
ratings_filtered = ratings.groupby('userId').count()             
ratings_filtered = ratings_filtered[ratings_filtered['timestamp'] >= 100].reset_index()
ratings_filtered.head(5)

   userId  movieId  rating  timestamp
0       4      204     204        204
1       5      100     100        100
2       8      116     116        116
3      15     1700    1700       1700
4      17      363     363        363

In [72]:
#в датафрейме ratings оставляются только оценки выбранных пользователей
#данные группируются по userid с применением аггрегирующих ф-й min и max к timestamp, 
#после чего вычисляется разность этих чисел в днях и записывается в поле lifetime

ratings = ratings[ratings['userId'].isin(ratings_filtered['userId'].tolist())]
ratings = ratings.groupby('userId').agg(['min', 'max'])['timestamp']
ratings['lifetime'] = ratings\
            .apply(lambda x: abs(datetime.fromtimestamp(x['max']) - datetime.fromtimestamp(x['min'])).days, axis=1)
ratings.head(20)

               min         max  lifetime
userId
4        949778714   949982274         2
5       1163373044  1163375145         0
8       1154389340  1154474527         0
15       997937239  1469330735      5455
17      1127468587  1127476640         0
19       855190091   855195373         0
21       853157476   854522908        15
22      1131661890  1131753381         1
23      1148386124  1166728253       212
26      1351544316  1371811577       234
30       944943070  1060795346      1340
33      1032676792  1037009003        50
34       973746214   973749049         0
36       847056510   853005800        68
38      1389721498  1449693163       694
41      1093886586  1109817081       184
43       974756704   974770589         0
48      1303371101  1439687078      1577
56      1467002940  1475567060        99
57       907761833   907766156         0

In [76]:
#вычисляется среднее кол-во дней по таблице

mean_lifetime = ratings.agg(['mean'])['lifetime']
print(mean_lifetime.values[0])

454.8631178707224

**Задание 4**

Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из материалов занятия. Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
    - для каждой строки пройдите по всем годам списка years
    - если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
    - если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year'

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга

In [120]:
import pandas as pd

def production_year(raw):                                       # функция возвращает число (год) от 1950 до 2010,
    for x in range(1950,2011):                                  # если он встерчается в названии фильма, иначе - 1900
        if str(x) in raw['title']:                       
            return x
    return 1900

movies = pd.read_csv('ml-latest-small/movies.csv')              # создается датафрейм movies
movies['year'] = movies.apply(production_year, axis = 1)        # добавляется новое поле year при помощи функции production_year
ratings = pd.read_csv('ml-latest-small/ratings.csv')            # создается датафрейм ratings
joined = ratings.merge(movies, on='movieId', how='left')        # два датафрейма объединяются по movieId
joined = joined.groupby('year').agg('mean')['rating']           # вычисляется средние значения rating при группировке по year
print(joined.sort_values(ascending=False))                      # сортировка и вывод

year
1957    4.014241
1972    4.011136
1952    4.000000
1954    3.994220
1951    3.983539
1974    3.978704
1962    3.952446
1950    3.915254
1977    3.905786
1964    3.841492
1959    3.841033
1958    3.823171
1975    3.823077
1969    3.817376
1967    3.814516
1960    3.809211
1976    3.806794
1973    3.806667
1979    3.777966
1981    3.758763
1953    3.754587
1955    3.751724
1971    3.748830
1968    3.737844
1966    3.736726
1980    3.708816
1963    3.705966
1970    3.700000
1965    3.678715
1961    3.663851
          ...
1982    3.638306
1991    3.628265
1956    3.617647
1987    3.606015
1900    3.602960
1985    3.588998
1988    3.552990
1978    3.549003
2007    3.548538
1994    3.537963
2010    3.537157
1993    3.536664
1989    3.534349
1986    3.528265
2009    3.520378
2006    3.511478
2008    3.498057
2004    3.491490
1998    3.472754
1995    3.472118
1999    3.471692
1992    3.466754
2001    3.460052
2002    3.456297
1990    3.449169
2005    3.448434
2003    3.444777
1996    3.426600
1997    3.415764
2000    3.356104
Name: rating, Length: 62, dtype: float64